
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url({{ categoria.imagen_referencial.url }});">
      <div class="container">
        <div class="row same-height justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="post-entry text-center">
              <span class="post-category text-white bg-success mb-3">categoria</span>
              <h1 class="mb-4"><a href="">categoria</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="site-section py-lg">
      <div class="container">

        <div class="row blog-entries element-animate mb-5">

          <div class="col-md-12 col-lg-12 main-content">
            
              <div class="entry2 mb-5">
                <a href=""><img src="" alt="Image" class="img-fluid rounded"></a>
                <span class="post-category text-white bg-primary mb-3">categoria</span>
                <h2><a href="">titulo</a></h2>
                <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left"><img src="" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1">POR <a href="#">autor</a></span>
                  <span>fecha publicacion</span>
                </div>
                <p>descripcion</p>
              </div>
            
            <div class="row text-center pt-5 border-top">
              <div class="col-md-12">
                <div class="custom-pagination">
                  Página  de 
                  
                  <li>
                    <a href="">1</a>
                  </li>
                  
                  
                  <li>
                    <a href="">1</a>
                  </li>
                  
                </div>
              </div>
            </div>

          </div>

          <!-- END main-content -->

        </div>
      </div>
    </section>

