<!--Detalle del Post seleccionado -->

    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url();">
        <div class="container">
          <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
              <div class="post-entry text-center">
                <span class="post-category text-white bg-success mb-3"></span>
                <h1 class="mb-4"><a href="#"></a></h1>
                <div class="post-meta align-items-center text-center">
                  <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1">autor</span>
                  <span>fecha publicacion</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <section class="site-section py-lg">
        <div class="container">
  
          <div class="row blog-entries element-animate">
  
            <div class="col-md-12 col-lg-8 main-content">
  
              <div class="post-content-body">
                contenido
              </div>
            </div>
  
            <!-- END main-content -->
  
            <div class="col-md-12 col-lg-4 sidebar">
   <!-- Fin detalle del post seleccionado -->



    <!-- Redes sociales -->
              <div class="sidebar-box">
                <div class="bio text-center">
                  <img src="" alt="Image Placeholder" class="img-fluid mb-5">
                  <div class="bio-body">
                    <h2>autor</h2>
                    <p class="mb-4">descripcion</p>
                    <p class="social">
                      <a href="" class="p-2"><span class="fa fa-facebook"></span></a>
                      <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                      <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>
  


  <!-- Fin Redes sociales -->
      <section class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="mb-5">OTROS POST</h2>
            </div>
          </div>
          <div class="row">



            
 <!-- Sección para otros post -->
            <div class="col-md-6 col-lg-4">
              <div class="entry2 mb-5">
                <a href=""><img src="" alt="Image" class="img-fluid rounded"></a>
                <span class="post-category text-white bg-primary mb-3">categoria</span>
                <h2><a href="">titulo</a></h2>
                <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left"><img src="" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1">POR <a href="#">autor</a></span>
                  <span>fecha publicacion</span>
                </div>
                <p>descripcion</p>
              </div>
            </div>
<!--Fin sección para otros post-->

          </div>
        </div>
      </section>
  
  